*{
    margin: 0;
    padding: 0;

}

form,
div{
    position: fixed;
    left: 47%;
    top: 50%;
    transform: translate(-50% ,-50%);
    
}

input{
    font-size: 20px;
    outline: none;
    position: relative;
    padding: 5px;
}
button{
    font-size: 20px;
    position: absolute;
    top: 0;
    right: -100px;
    padding: 5px 20px;
}
p{
    text-align: center;
    margin-top: 30%;
    font-size: 30px;

}