*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    transition: 3s;
   
}

button{
    font-size: 20px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
   
}
h1{
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);  
    opacity: 0; 
    display: none;
}